# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
env_ml/
env_genai/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db